# general
.ruff_cache
.pytest_cache

# pixi environments
.pixi
*.egg-info
.direnv/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-freeze.txt
pip-requirements.txt
.DS_Store

# Backend
backend/.env

# env
.env*

# Test
.pytest_cache/
.coverage
coverage.xml

# Editor
.vscode/
.idea/
*.swp

# Build dist
build/
dist/
*.egg-info/

# Claude
CLAUDE.md